* {
    box-sizing: border-box;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('fundo.jpg');
}
.board {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-bottom: 40%;
}
.desfoque {
    filter: blur(3px);
}
.linha {
    display: flex;
    flex-direction: row;
    border-bottom: solid 4px rgb(255, 255, 255);
}
.casa {
    font-size: 70px;
    padding: 4px;
    width: 100px;
    height: 100px;
    text-align: center;
    display: flex;
}
.linha:nth-child(3) {
    border-bottom: none;
}
.casa:nth-child(1), .casa:nth-child(2) {
    border-right: solid 4px rgb(255, 255, 255);
}

.game {
    width: max-content;
    height: max-content;
}

/* AVISO INICIAL */
#aviso {
    position: absolute;
    top: 20%;
    z-index: 1;
}
#div_aviso {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#botao_aviso {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 204, 99);
    height: min-content;
    width: min-content;
    border: none;
    border-radius: 60px;
    padding: 10px;
    padding-inline: 60px;
    font-size: 50px;
    text-align: center;
}
#h1_aviso {
    text-align: center;
    margin-bottom: 50px;
    font-size: 60px;
    color: white;
}

#mensagem_venceu {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 40px;
    padding: 5px;
    padding-inline: 40px;
    color: rgb(18, 255, 18);
    margin-bottom: 80px;
    font-size: 60px;
}
#icone_vitoria {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* Dinâmica pós-click do play*/
.hide {
    display: none;
}

/*Nave*/
#div_nave {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#jogador{
    width: 130px;
    height: 130px;
}

/*Tiros*/

.tiro {
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

/* Classe do valor adicionado ao tabuleiro */

.adicionado {
    filter: brightness(0) invert(1);
}

/* Alteração entre tiros/lasers */

.good_beam {
    filter: hue-rotate(100deg) brightness(2);
}

.mira {
    visibility: hidden;
    position: absolute;
    width: 70px;
    height: 70px;
}

.good_aim {
    filter: hue-rotate(100deg) brightness(2);
}

.good_mark {
    filter: hue-rotate(100deg) brightness(2);
    opacity: 0.6;
}